<!-- Content Row -->
<div class="row">
    <div class="card shadow mb-4">
        {% for data in values %}
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ data.title }}</h6>
        </div>
        <div class="card-body">
            {% for field in fields %}
                {% if not hidden[field] %}
                    {% if field != 'title' %}
                        <p><em>{{ field }}: </em>{{ data[field]|raw }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>