<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for label, info in items %}
            {% if info.link %}
            <li class="breadcrumb-item"><a href="{{ info.url }}">{{ label }}</a></li>
            {% else %}
                <li class="breadcrumb-item">{{ label }}</li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>