<li class="nav-item dropdown notification-list topbar-dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
        <img src="{{ theme.location }}/img/icons/262-united-kingdom.png" alt="user-image" class="mr-0 mr-sm-1" height="12">
        <span class="align-middle d-none d-sm-inline-block">English</span>
    </a>
    <div class="dropdown-menu dropdown-menu-animated topbar-dropdown-menu" style="">
        <a href="javascript:void(0);" class="dropdown-item notify-item">
            <img src="{{ theme.location }}/img/icons/054-belgium.png" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Dutch (Belgium)</span>
        </a>
        <a href="javascript:void(0);" class="dropdown-item notify-item">
            <img src="{{ theme.location }}/img/icons/066-germany.png" alt="user-image" class="mr-1" height="12"> <span class="align-middle">German</span>
        </a>
    </div>
</li>