<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Recent logs{% if count > 0 %} <a class="btn btn-primary" href="./?p=logs&t=clear">Clear logs</a>{% endif %}</h1>

{% for category, items in results %}
<!-- Logs table -->
<div class="card shadow mb-4">
    <div class="card-body">
        <h3>{{ category }} ({{ items|length }})</h3>
        {% for item in items %}
            {{ item|raw }}
        {% endfor %}
    </div>
</div>
{% endfor %}